YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/.qmake.stash
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/Makefile
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/Makefile.Debug
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/Makefile.Release
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/qml_qmlcache.qrc
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/usersuserappdatalocaltemptmpy8tkrs
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/main.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/main_qml.cpp
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/main_qml.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/qmlcache_loader.cpp
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/qmlcache_loader.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/qrc_qml_qmlcache.cpp
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/qrc_qml_qmlcache.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/yunreserve.exe
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/object_script.yunreserve.Debug
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/object_script.yunreserve.Release
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/usersuserappdatalocaltemptmp3kqxpa
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/BitBuffer.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/db.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/moc_db.cpp
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/moc_db.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/moc_predefs.h
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/moc_ui.cpp
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/moc_ui.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/QrCode.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/QrSegment.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/ui.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/controlchannel.o
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/qsqlite.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/qsqlited.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/qsqlmysql.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/qsqlmysqld.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/qsqlodbc.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/qsqlodbcd.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/qsqlpsql.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/qsqlpsqld.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/sqldrivers/qsqlite.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/sqldrivers/qsqlited.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/sqldrivers/qsqlmysql.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/sqldrivers/qsqlmysqld.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/sqldrivers/qsqlodbc.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/sqldrivers/qsqlodbcd.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/sqldrivers/qsqlpsql.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/plugins/sqldrivers/qsqlpsqld.dll
YunReserveV4/build-yunreserve-Desktop_Qt_5_12_3_MinGW_64_bit-Release/usersuserappdatalocaltemptmp_pmmak
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/.qmake.stash
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile.Debug
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/Makefile.Release
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/controlArduino.exe
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/controlarduino.o
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/main.o
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/qrc_qml.cpp
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/debug/qrc_qml.o
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/.qmake.stash
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/Makefile
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/Makefile.Debug
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/Makefile.Release
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/controlArduino.exe
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/controlarduino.o
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/main.o
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/main_qml.cpp
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/main_qml.o
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/moc_controlarduino.cpp
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/moc_controlarduino.o
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/moc_predefs.h
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/qmlcache_loader.cpp
controlArduino/build-controlArduino-Desktop_Qt_5_12_3_MinGW_64_bit-Release/release/qmlcache_loader.o
